nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 10px;
    position: relative; 
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #f0f0f0;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #ddd;
    color: #1773f9;
}

nav ul li a:active {
    background-color: #ccc;
    color: #1773f9;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-content ul li a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
}

.dropdown:hover .dropdown-content {
    display: block;
}
